.heronav {
  text-decoration: none;
}

/* Media Query */

@media (max-width: 1000px) {
  .space-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .space-div {
    display: flex;

    flex-wrap: wrap;
    flex-direction: column;
  }
  .space-div div {
    width: 100%;
  }
  .bit {
    width: 200px;
  }
}
